APP_NAME="Pitter Ponto"
APP_URL="http://localhost/pitter-ponto/public"
APP_TIMEZONE="America/Sao_Paulo"

DB_HOST="127.0.0.1"
DB_PORT="4406"
DB_DATABASE="pitter_ponto"
DB_USERNAME="root"
DB_PASSWORD=""

SECURITY_MAX_LOGIN_ATTEMPTS=5
SECURITY_LOGIN_WINDOW_MINUTES=15
SECURITY_LOGIN_LOCK_MINUTES=5
SECURITY_SESSION_TIMEOUT_MINUTES=30
