APP_NAME="Pitter Ponto"
APP_URL="http://localhost/pitter-ponto/public"
APP_TIMEZONE="America/Sao_Paulo"

DB_HOST="sql203.infinityfree.com"
DB_PORT="3306"
DB_DATABASE="if0_42906954_pitter_ponto"
DB_USERNAME="if0_42906954"
DB_PASSWORD="Pitterponto2"

SECURITY_MAX_LOGIN_ATTEMPTS=5
SECURITY_LOGIN_WINDOW_MINUTES=15
SECURITY_LOGIN_LOCK_MINUTES=5
SECURITY_SESSION_TIMEOUT_MINUTES=30
